[Desktop Entry]
Name=KDE Connect Indicator
Name[nl]=KDE-Connect indicator
Name[pt]=Indicador do KDE Connect
Name[sv]=KDE-anslut indikator
Name[uk]=Індикатор KDE Connect
Name[x-test]=xxKDE Connect Indicatorxx
Comment=Display information about your devices
Comment[nl]=Toon informatie over uw apparaten
Comment[pt]=Mostrar informações sobre os seus dispositivos
Comment[sv]=Visa information om enheter
Comment[uk]=Показати дані щодо ваших пристроїв
Comment[x-test]=xxDisplay information about your devicesxx
Exec=kdeconnect-indicator
Icon=kdeconnect
Type=Application
Terminal=false
Categories=Qt;KDE;Network;
NotShowIn=KDE;

